---
layout: layout.liquid
title: Planetary Playing Cards
---

<h1>Planetary Playing Cards</h1>

<main>
<section id="cards">
    <div class="card">
        <div class="star"></div>
    <h2>Sun</h2>
    <p>Type G2V</p></div>
    <div class="card">
        <div class="mercury"></div>
    <h3>Mercury</h3>
    <p>0.39 AU</p></div>
    <div class="card">
        <div class="venus"></div>
    <h3>Venus</h3>
    <p>0.72 AU</p></div>
    <div class="card">
        <div class="earth"></div>
    <h3>Earth</h3>
    <p>1.0 AU</p></div>
    <div class="card">
        <div class="mars"></div>
    <h3>Mars</h3>
    <p>1.52 AU</p></div>
    <div class="card">
        <div class="jupiter"></div>
    <h3>Jupiter</h3>
    <p>5.2 AU</p></div>
    <div class="card">
        <div class="saturn"></div>
    <h3>Saturn</h3>
    <p>9.54 AU</p></div>
    <div class="card">
        <div class="uranus"></div>
    <h3>Uranus</h3>
    <p>19.2 AU</p></div>
    <div class="card">
        <div class="neptune"></div>
    <h3>Neptune</h3>
    <p>30.06 AU</p></div>
</main>